html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
input,
button {
  margin: 0;
  padding: 0;
  font: 16px "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/fontawesome-webfont.eot?v=#4.0.3");
  src: url("fonts/fontawesome-webfont.eot?#iefix&v=#4.0.3") format("embedded-opentype"), url("fonts/fontawesome-webfont.woff?v=#4.0.3") format("woff"), url("fonts/fontawesome-webfont.ttf?v=#4.0.3") format("truetype"), url("fonts/fontawesome-webfont.svg#fontawesomeregular?v=#4.0.3") format("svg");
}
html,
body,
#container {
  height: 100%;
}
body {
  background: #eee;
  font: 16px "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
}
.outer {
  max-width: 875px;
  margin: 0 auto;
}
.outer:before,
.outer:after {
  content: "";
  display: table;
}
.outer:after {
  clear: both;
}
@media screen and (max-width: 500px) {
  .outer {
    padding: 0 20px;
  }
}
.left,
.alignleft {
  float: left;
}
.right,
.alignright {
  float: right;
}
.clear {
  clear: both;
}
#container {
  position: relative;
}
.logo {
  width: 160px;
  height: 60px;
  background-image: url("images/logo.png");
  -webkit-background-size: 150px 50px;
  -moz-background-size: 150px 50px;
  background-size: 150px 50px;
  background-position: left top;
  background-repeat: no-repeat;
}
.quotes {
  position: relative;
  font-size: 16px;
}
.logo-text {
  width: auto;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 57px;
  margin-right: 25px;
  text-decoration: none;
  background-image: none;
}
.article-meta a,
a.article-title,
.article-entry a,
.article-more-link a,
#comments a,
.archive-year-wrap a,
.archive-category-wrap a,
.archive-tag-wrap a,
.archive-article-title,
#page-nav a,
#footer a,
.article-entry .gist .gist-file .gist-meta a,
.layout-wrap-inner .category-list a,
.tag-cloud a {
/*color: color-default */
  color: #2561c2;
  text-decoration: none;
  border-bottom: 0px dotted transparent;
}
.article-meta a:hover,
a.article-title:hover,
.article-entry a:hover,
.article-more-link a:hover,
#comments a:hover,
.archive-year-wrap a:hover,
.archive-category-wrap a:hover,
.archive-tag-wrap a:hover,
.archive-article-title:hover,
#page-nav a:hover,
#footer a:hover,
.article-entry .gist .gist-file .gist-meta a:hover,
.layout-wrap-inner .category-list a:hover,
.tag-cloud a:hover {
  border-bottom-color: #000;
}
.article-entry a {
  border-bottom: 0px dotted #000;
}
.article-entry {
  font-family: equity-text-b-caps;
}
.article-entry h1 {
  font-size: 2em;
}
.article-entry h2 {
  font-size: 1.5em;
}
.article-entry h3 {
  font-size: 1.3em;
}
.article-entry h4 {
  font-size: 1.2em;
}
.article-entry h5 {
  font-size: 1em;
}
.article-entry h6 {
  font-size: 1em;
  color: #999;
}
.article-entry p {
  font-family: equity-text-b;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 31px;
  margin-top: 0.7em;
}
.article-entry hr {
  border: 1px dashed #ddd;
}
.article-entry strong {
  font-size: 1.1em;
  font-weight: bold;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5em;
}
.article-entry sub {
  bottom: -0.2em;
}
.article-entry small {
  font-size: 0.85em;
}
.article-entry acronym,
.article-entry abbr {
  border-bottom: 1px dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 0 20px;
  line-height: 1.6em;
}
.article-entry ul ul,
.article-entry ol ul,
.article-entry ul ol,
.article-entry ol ol {
  margin-top: 0;
  margin-bottom: 0;
}
.article-entry ul {
  list-style: disc;
}
.article-entry ol {
  list-style: decimal;
}
.article-entry dt {
  font-weight: bold;
}
#header {
  font-size: 20px;
  position: relative;
  border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
}
#header.mobile-on #main-nav,
#header.mobile-on #sub-nav {
  display: block;
}
#header-outer {
  height: 100%;
  position: relative;
}
#header-inner {
  position: relative;
  overflow: hidden;
  display: block;
}
#quotes {
  position: relative;
}
@media screen and (max-width: 500px) {
  #quotes {
    text-align: center;
  }
}
#main-nav {
  float: left;
}
.nav-icon,
.main-nav-link,
#main-nav-toggle {
  float: left;
  color: #000;
  text-decoration: none;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  transition: opacity 0.2s;
  display: block;
  padding: 20px 15px;
}
.nav-icon {
  font-family: FontAwesome;
  text-align: center;
  font-size: 16px;
  width: 16px;
  height: 16px;
  padding: 20px 15px;
  position: relative;
  cursor: pointer;
}
.nav-icon:hover {
  color: #00f;
}
@media screen and (max-width: 500px) {
  .nav-icon {
    padding: 20px 25px;
  }
}
.main-nav-link {
  font-weight: 600;
  padding: 15px 40px;
}
@media screen and (max-width: 500px) {
  .main-nav-link {
    float: none;
    text-align: center;
  }
}
.main-nav-link:hover {
  text-decoration: underline;
}
#main-nav-toggle {
  display: none;
  font-size: 16px;
  margin-left: -15px;
  font-family: FontAwesome;
}
#main-nav-toggle:before {
  content: "\f0c9";
}
@media screen and (max-width: 500px) {
  #main-nav-toggle {
    display: block;
    float: right;
  }
}
#logo {
  float: left;
}
@media screen and (max-width: 500px) {
  #logo {
    float: none;
    margin: 10 auto;
    display: block;
    background-position: left top;
  }
}
#sub-nav {
  float: right;
}
@media screen and (max-width: 500px) {
  #main-nav,
  #sub-nav {
    display: none;
    float: none;
  }
}
#search-form-wrap {
  position: absolute;
  top: 15px;
  width: 150px;
  height: 30px;
  right: -150px;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -ms-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
#search-form-wrap.on {
  opacity: 1;
  right: 0;
}
@media screen and (max-width: 500px) {
  #search-form-wrap {
    width: 100%;
    right: -100%;
  }
}
.search-form {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 5px 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.search-form-input {
  border: none;
  background: none;
  color: #555;
  width: 100%;
  font: 13px font-sans;
  outline: none;
}
.search-form-input::-webkit-search-results-decoration,
.search-form-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.search-form-submit {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -7px;
  font: 13px FontAwesome;
  border: none;
  background: none;
  color: #bbb;
  cursor: pointer;
}
.search-form-submit:hover,
.search-form-submit:focus {
  color: #777;
}
#nav-rss-link:before {
  content: "\f09e";
}
#nav-twitter-link:before {
  content: "\f099";
}
#nav-github-link:before {
  content: "\f113";
}
#nav-email-link:before {
  content: "\f0e0";
}
#nav-search-btn:before {
  content: "\f002";
}
.article {
  margin: 5px 0;
  border-bottom: 0.1px solid #ddd;
}
.article-myself {
  margin-left: 8px;
  color: #333;
}
.article-myself:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f007";
}
.article-myself span {
  margin-left: 8px;
}
.article-myEmail {
  margin-left: 8px;
  font-size: 1em;
  color: #333;
span
}
.article-myEmail:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0e0";
}
.article-myGithub {
  margin-left: 8px;
  color: #333;
span
}
.article-myGithub:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f09b";
}
.article-myInstagram {
  margin-left: 8px;
  color: #333;
span
}
.article-myInstagram:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f16d";
}
.article-myFacebook {
  margin-left: 8px;
  color: #333;
span
}
.article-myFacebook:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f082";
}
.article-myTwitter {
  margin-left: 8px;
  color: #333;
span
}
.article-myTwitter:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f099";
}
.article-myKaggle {
  margin-left: 8px;
  color: #333;
span
}
.article-myKaggle:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f072";
}
.article-mySegmentfault {
  margin-left: 8px;
  color: #333;
span
}
.article-mySegmentfault:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f08a";
}
.article-inner {
  margin-bottom: 10px;
  padding: 0 70px;
  font-size: 14px;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .article-inner {
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 14px;
  }
}
.article-index-inner {
  margin-bottom: 10px;
  font-family: Consolas, monaco;
  font-size: 14px;
  overflow: hidden;
}
.article-meta:before,
.article-meta:after {
  content: "";
  display: table;
}
.article-meta:after {
  clear: both;
}
.article-meta a {
  color: #999;
}
.article-date-index {
  color: #939393;
  font-size: 12px;
}
.article-detail-date-index {
  color: #939393;
  font-size: 14px;
  margin-top: 10px;
}
.article-date {
  float: left;
}
.article-category-index {
  float: left;
  margin-left: 8px;
  color: #939393;
}
.article-category-index:before {
  content: "\2022";
}
.article-category-index span {
  margin-left: 8px;
}
.article-category {
  float: left;
  margin-left: 8px;
  color: #333;
}
.article-category:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f07b";
}
.article-category span {
  margin-left: 8px;
}
.article-tag {
  float: left;
  margin-left: 8px;
  color: #333;
}
.article-tag:before {
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f02c";
}
.article-tag span {
  margin-left: 8px;
}
.article-category-link {
  margin-left: 8px;
  font-size: 1.2em;
  color: #2561c2;
}
.article-tag-link {
  margin-left: 8px;
  font-size: 1.2em;
  color: #2561c2;
}
.article-tag-link:hover {
  text-decoration: underline;
}
.article-comment-link-wrap {
  float: left;
  margin-left: 8px;
  color: #999;
}
.article-comment-link-wrap:before {
  content: "\2022";
}
.article-comment-link {
  margin-left: 8px;
}
.article-header {
  margin: 10px 0 5px;
  font-weight: 599;
}
.article-title-index {
  font-family: Consolas;
  font-size: 1.28em;
  font-weight: 600;
  color: #2f6fc4;
  text-decoration: none;
}
.article-title-index:hover {
  color: #00008b;
  text-decoration: underline;
}
.desc-index {
  font-weight: 599;
  font-size: 1.1em;
  color: #333;
}
.page-title {
  height: 10px;
  border-bottom: 2px solid #eee;
  width: 98%;
}
.article-title {
  font-family: equity-text-b, serif;
  font-size: 2em;
  font-weight: 600;
  padding: 0 10px;
  width: 98%;
  color: #444;
  color: #000;
}
@media screen and (max-width: 500px) {
  .article-title {
    font-size: 2em;
    font-weight: 600;
    width: 100%;
    color: #444;
    color: #000;
  }
}
.tweetimg {
  line-height: 0.4;
  max-width: 30%;
  display: block;
}
.article-entry .limg0 {
  position: valative;
}
.article-entry .limg0 img {
  margin-left: 0px;
}
.article-entry .limg1 {
  position: valative;
}
.article-entry .limg1 img {
  margin-left: 80px;
}
.article-entry .limg1-caption {
  color: #939393;
  font-size: 0.9em;
  text-align: center;
  margin-left: -80px;
}
.myh4 {
  display: inline-block;
}
.article-entry {
  color: #000;
}
.article-entry:before,
.article-entry:after {
  content: "";
  display: table;
}
.article-entry:after {
  clear: both;
}
.article-entry table {
  font-size: 16px;
  line-height: 1.6em;
  margin: 1.6em 0;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  font-weight: 550;
  line-height: 1.5em;
  margin: 1em 0;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 150%;
}
.article-entry myh11 {
  font-weight: 600;
  line-height: 1em;
  margin: 1em 0;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin-top: 0.5em;
  margin-bottom: 1.6em;
  line-height: 31px;
}
.article-entry ul li {
  font-size: 1.2em;
}
.article-entry ul li p {
  font-size: 1.1em;
}
.article-entry ol li {
  font-size: 1.2em;
  padding-left: 1.4px;
  line-height: 170%;
}
.article-entry strong {
  font-family: equity-text-b;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.article-entry th {
  font-weight: 600;
  border-bottom: 3px solid #ddd;
  padding-bottom: 0.5em;
}
.article-entry td {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}
.article-entry blockquote {
  font-family: "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif;
  margin: 0.65em 0 0.65em 0.3%;
  line-height: 1.5;
  padding-left: 1%;
  border-left: 2px solid #000;
  background: #f6f6f6;
  color: #555;
  font-size: 1em;
}
.article-entry blockquote footer {
  font-size: 16px;
  margin: 1.6em 0;
  font-family: font-sans;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5em;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: #999;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-more-link a {
  color: #999;
  border-bottom-color: #999;
}
.article-more-link a:hover {
  color: #00008b;
  text-decoration: underline;
}
.article-footer {
  font-size: 0.85em;
  padding: 1.6em 0;
  line-height: 1.6em;
  margin: 0;
  float: right;
}
.article-footer:before,
.article-footer:after {
  content: "";
  display: table;
}
.article-footer:after {
  clear: both;
}
.article-footer a {
  color: #999;
  text-decoration: none;
}
.article-footer a:hover {
  color: #555;
}
.license {
  font-size: 0.97em;
  min-height: 20px;
  padding: 19px;
  margin-bottom: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.article-tag-list-item {
  float: left;
  margin-right: 10px;
}
.article-tag-list-link:before {
/*content: "#"*/
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f02c";
}
#article-nav {
  position: relative;
  margin: 20px 0;
}
#article-nav:before,
#article-nav:after {
  content: "";
  display: table;
}
#article-nav:after {
  clear: both;
}
.article-nav-link-wrap {
  text-decoration: none;
  text-shadow: 0 1px #fff;
  color: #999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  display: block;
}
.article-nav-link-wrap:hover {
  color: #555;
}
@media screen and (min-width: 840px) {
  .article-nav-link-wrap {
    width: 50%;
    margin-top: 0;
  }
}
#article-nav-newer {
  float: left;
  text-align: left;
}
#article-nav-older {
  float: right;
  text-align: right;
}
.article-nav-caption {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ddd;
  line-height: 1em;
  font-weight: 600;
}
#article-nav-newer .article-nav-caption {
  margin-right: -2px;
}
.article-nav-title {
  font-size: 0.85em;
  line-height: 1.6em;
  margin-top: 0.5em;
}
.article-gallery {
  background: #000;
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-toc {
  display: none;
  position: relative;
  font-size: 0.8em;
  width: 500px;
  margin: 20px;
  margin-left: 40px;
  font-family: equity-text-b-caps;
  overflow-y: auto;
  line-height: 1.6em;
  max-height: 46.080000000000005em;
}
@media mq-moble {
  .article-toc {
    margin-left: 0;
  }
}
.article-toc h3 {
  font-weight: 500;
  font-size: 20px;
}
.article-toc .toc-item {
  font-weight: 500;
  list-style: none;
}
.article-toc .toc-item a {
  color: #06f;
  text-decoration: none;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
}
@media screen and (min-width: 1400px) {
  .article-toc {
    display: block;
  }
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f064";
  font-family: FontAwesome;
  padding-right: 6px;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 14px font-sans;
  padding: 0 15px;
  color: #555;
  outline: none;
  border: 1px solid #ddd;
  border-radius: 3px 3px 0 0;
  height: 36px;
  line-height: 36px;
}
.article-share-links {
  background: #eee;
}
.article-share-links:before,
.article-share-links:after {
  content: "";
  display: table;
}
.article-share-links:after {
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google,
.article-share-linkedin {
  width: 50px;
  height: 36px;
  display: block;
  float: left;
  position: relative;
  color: #999;
  text-shadow: 0 1px #fff;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before,
.article-share-linkedin:before {
  font-size: 20px;
  font-family: FontAwesome;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -10px;
  margin-left: -10px;
  text-align: center;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover,
.article-share-linkedin:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f099";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f09a";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f0d2";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f0d5";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.article-share-linkedin:before {
  content: "\f0e1";
}
.article-share-linkedin:hover {
  background: #0077b5;
  text-shadow: 0 1px #005f91;
}
#comments {
  margin: 50px 0;
}
.archives-wrap {
  margin: 50px 0;
}
.archives:before,
.archives:after {
  content: "";
  display: table;
}
.archives:after {
  clear: both;
}
.archive-year-wrap,
.archive-category-wrap,
.archive-tag-wrap {
  font-size: 1.4em;
  margin-bottom: 1em;
}
.archives {
  margin-left: 5px;
  border-left: 1px solid #ddd;
}
.archive-article-inner {
  padding: 10px 10px 10px 12px;
  margin: -10px 0 1px -0.1px;
  border-left: 3px solid transparent;
}
.archive-article-inner:hover {
  border-left-color: #000;
}
.archive-article-title {
  color: #2e6ec4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1em;
  font-family: Source Sans Pro, "Helvetica Neue", Arial, sans-serif;
}
.archive-article-footer {
  margin-top: 1em;
}
.archive-article-date {
  color: #999;
  text-decoration: none;
  margin-bottom: 0.5em;
  font-size: 0.95em;
  width: 45px;
  line-height: 2em;
  display: inline-block;
}
#page-nav {
  margin: 50px auto;
  text-align: center;
  overflow: hidden;
}
#page-nav:before,
#page-nav:after {
  content: "";
  display: table;
}
#page-nav:after {
  clear: both;
}
#page-nav a,
#page-nav span {
  width: 36px;
  height: 36px;
  margin: 0 5px;
  line-height: 36px;
  text-align: center;
}
#page-nav a.prev,
#page-nav a.next {
  margin: 0;
  width: auto;
}
#page-nav .prev {
  float: left;
}
#page-nav .next {
  float: right;
}
#page-nav .page-number {
  display: inline-block;
}
@media screen and (max-width: 500px) {
  #page-nav .page-number {
    display: none;
  }
}
#page-nav .current {
  color: #fff;
  border-radius: 18px;
  background-color: #000;
}
#page-nav .space {
  color: #ddd;
}
#footer {
  padding: 50px 0;
  text-align: center;
}
#footer a {
  font-weight: 600;
}
#footer-info {
  line-height: 1.6em;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry .highlight {
  margin: 0;
  font-size: 14px;
  background: #f5f5f5;
  padding: 15px 0;
  overflow: auto;
  color: #333;
  line-height: 25.6px;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #666;
  font-size: 0.85em;
}
.article-entry pre,
.article-entry code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 0.95em;
}
.article-entry span {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.article-entry code {
  color: #c7254e;
  background: #f2f2f2;
  padding: 0 0.3em;
}
.article-entry pre {
  padding: 20px;
}
.article-entry pre code {
  background: none;
  text-shadow: none;
  padding: 0;
}
.article-entry pre .highlight {
  padding: 0;
}
.article-entry .highlight {
  margin-top: 8px;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0 20px;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 0.85em;
  color: highlight-comment;
  line-height: 1em;
  margin-bottom: 1em;
}
.article-entry .highlight figcaption:before,
.article-entry .highlight figcaption:after {
  content: "";
  display: table;
}
.article-entry .highlight figcaption:after {
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter pre {
  text-align: right;
}
.article-entry .highlight .line {
  height: 25.6px;
}
.article-entry .gist {
  margin: 0;
  padding: 15px 0;
}
.article-entry .gist .gist-file {
  border: none;
  font-family: "Source Code Pro", 'PT Serif', monaco, "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft YaHei", '微软雅黑', STHeiti, "WenQuanYi Micro Hei", sans-serif;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
  padding: 0 20px 0 0;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: highlight-background;
  color: highlight-comment;
  font: 0.85em font-sans;
  text-shadow: 0 0;
  padding: 0;
  margin-top: 1em;
}
.article-entry .gist .gist-file .gist-meta a {
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .tag,
pre .css .rules,
pre .css .value,
pre .css .function,
pre .preprocessor,
pre .pragma {
  color: #2ca6cb;
}
pre .strongemphasis,
pre .strong,
pre .emphasis {
  color: #a8a8a2;
}
pre .bullet,
pre .blockquote,
pre .horizontal_rule,
pre .number,
pre .regexp,
pre .alias .keyword,
pre .literal,
pre .hexcolor {
  color: #333;
}
pre .tag .value,
pre .code,
pre .title,
pre .css .class,
pre .class .title:last-child {
  color: #00f;
  font-weight: bold;
}
pre .link_url {
  font-size: 80%;
}
pre .strong,
pre .strongemphasis {
  font-weight: bold;
}
pre .emphasis,
pre .strongemphasis,
pre .class .title:last-child {
  font-style: italic;
}
pre .keyword,
pre .function,
pre .change,
pre .winutils,
pre .flow,
pre .nginx .title,
pre .tex .special,
pre .header,
pre .attribute,
pre .symbol,
pre .symbol .string,
pre .tag .title,
pre .value,
pre .alias .keyword:first-child,
pre .css .tag,
pre .css .unit,
pre .css .important {
  color: #008000;
  font-weight: bold;
}
pre .function .keyword,
pre .class .keyword:first-child,
pre .constant,
pre .css .attribute {
  color: #008000;
  font-weight: bold;
}
pre .variable,
pre .params,
pre .class .title {
  color: #b58900;
}
pre .string,
pre .css .id,
pre .subst,
pre .type,
pre .ruby .class .parent,
pre .built_in,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt,
pre .link_label,
pre .link_url {
  color: #718c00;
}
pre .comment,
pre .javadoc,
pre .annotation,
pre .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #93a1a1;
  font-style: italic;
}
pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata,
pre .xml .php,
pre .php .xml {
  opacity: 0.5;
}
.layout-wrap {
  margin: 50px 0;
}
.layout-title {
  font-size: 1.7em;
  margin-bottom: 1em;
  border-bottom: 0.5px LightGrey solid;
  width: 98%;
  line-height: 200%;
}
.layout-wrap-inner .category-list,
.layout-wrap-inner .category-list-child {
  line-height: 1.8em;
}
.layout-wrap-inner .category-list:before,
.layout-wrap-inner .category-list-child:before,
.layout-wrap-inner .category-list:after,
.layout-wrap-inner .category-list-child:after {
  content: "";
  display: table;
}
.layout-wrap-inner .category-list:after,
.layout-wrap-inner .category-list-child:after {
  clear: both;
}
.layout-wrap-inner .category-list-child {
  margin-left: 24px;
}
.layout-wrap-inner li:before {
  content: '>';
  float: left;
  padding: 0 16px 0 0;
}
.layout-wrap-inner .category-list-count {
  margin-left: 8px;
  color: #999;
}
.layout-wrap-inner .category-list-count:before {
  content: '(';
}
.layout-wrap-inner .category-list-count:after {
  content: ')';
}
.tag-cloud a {
  margin-right: 8px;
  line-height: 2;
  font-family: Consalos;
  color: #000;
}
.fancybox-skin {
  padding: 0 !important;
  border-radius: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif;
}
.fancybox-skin .fancybox-title .child {
  background: none;
  font-weight: 400;
  font-size: 16px;
  font-family: "Source Sans Pro", "Helvetica Neue", Consolas, Arial, sans-serif;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.5);
}
